// @font-face {
//   font-family: BravoRG; 
//   src: url(/src/fonts/BravoRG.ttf); 
// }

* {
  box-sizing: border-box;
}

@mixin phone {
  @media (max-width: 480px) { @content; }
}
@mixin tablet-portrait {
  @media (max-width: 768px) { @content; }
}
@mixin tablet-landscape {
  @media (max-width: 1024px) { @content; }
}
@mixin desktop {
  @media (max-width: 1199px) { @content; }
}
@mixin big-desktop {
  @media (min-width: 1200px) { @content; }
}

@mixin big-heading {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
  font-weight: 100;
}

@mixin medium-heading {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
  font-weight: 300;
}
  
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin wide-border {
  border: 20px solid white;
  outline: 2px solid black;
  box-shadow: -5px 5px 0px #000000;
}

$grey: #999999;
$dark: #000000;
$red: #e61d21;

// $border-grey: 6px solid $grey;
$shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-2 {
  width: 50%;
  padding: 30px;
}

.btn {
  background-color: white;
  // border: $border-grey;
  // box-shadow: $shadow;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    max-width: 80%;
    max-height: 80%;

    &:hover {
      fill: $red;
    }
  }
}

svg {
  fill: $dark;
}

.btn-scale {
  svg {
    stroke: $dark;
  }

  @include tablet-portrait {
    bottom: -20px;
  }
}

.viewer-buttons {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 60px;

  .btn {
    height: 60px;
    width: 60px;

    // &:first-child {
    //   margin-left: auto;
    // }

    &:last-child {
      margin-right: auto;
    }

    &.disabled {
      svg {
        fill: $grey;
      }
    }
  }

  .btn-back {
    margin-right: auto;
    margin-left: 0;
  }

  .btn-back svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.viewer {
  width: 90vw;
  height: 90vh;

  @include margin-auto;

  background: #FFFFFF;
  border-radius: 2px;

  margin-bottom: 10px;

  @include phone {
    width: 100%;
    height: 80vh;
  }

  .btn {
    height: 40px;
    width: 40px;
    opacity: 0.8;
  }
}

h1 {
  @include big-heading;
}

h2 {
  @include medium-heading;
}

.library-menu {
  display: flex;
  flex-flow: column nowrap;
  @include big-heading;

  a {
    text-decoration: none;
    
    color: black;
    margin-bottom: 1rem;

    &:hover {
      color: $red;
    }
  }

  @include tablet-portrait {
    font-size: 2rem;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .preview-cover {
    position: relative;
    width: 60%;
    @include wide-border;
  }
}

#preview-column {
  @include tablet-portrait {
    display: none;
  }
}

#titles-column {
  @include tablet-portrait {
    width: 100%;
  }
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.nav-icon {
  height: 60px;
  fill: #000;

  &:hover {
    fill: $red;
  }
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  &:first-child {
    margin-right: 15px;
  }

  &:last-child {
    margin-left: 15px;
  }
}

.nav-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.details-wrapper {
  max-width: 640px;
  position:relative;
  z-index: 1;
  @include margin-auto;

  @include desktop {
    margin-right: 60px;
  }

  @include tablet-landscape {
    margin-left: 300px;
    margin-right: 30px;
  }

  @include tablet-portrait {
    max-width: 90%;
    margin-top: 280px;
    @include margin-auto;
  }
}

.details_info {
  @include margin-auto;
}

.details_author {
  position:fixed;
  top: 155px;
  left: 40px;
  max-width: 240px;
  z-index: 3;

  @include tablet-portrait {
    position: absolute;
    top: 20px;
    left: auto;
    right: 20px;
    max-width: 140px;

    h2 {
      font-size: 1.5rem;
      text-align: right;
    }
  }
}

.portrait-container {
  @include wide-border;
  background: center, no-repeat;
  background-size: cover;
  width: 240px;
  height: 240px;

  @include tablet-portrait {
    width:140px;
    height:140px;
    border-width: 10px;
  }
}

.details {
  .back-icon {
    position:fixed;
    top: 40px;
    left: 40px;
    z-index: 3;

    @include tablet-portrait {
      top: 20px;
    }
  }
  
  .read-icon {
    display: block;
    width: 60px;
    margin-top: 40px;
    z-index: 3;

    @include tablet-portrait {
      position: fixed;
      top: 20px;
      left: 116px;
      margin-top: 0;
    }
  }

  .white-bg {
    display: none;
    position: fixed;
    background-color: #fff;
    height: 112px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    @include tablet-portrait {
      display: block;
    }
  }
}
